@import './quasar.variables.styl'
@import '~quasar-styl'
// @import '~quasar-addon-styl'


// WebSites组件   web图片按钮padding 去除
.web-sites-items-icon{
  .q-btn--dense .q-btn__wrapper{
    padding unset
  }
}
